<section class="about-hero  pb-xxl-16 pb-10 separator-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="about-hero-content text-center" data-aos="fade-left" data-aos-duration="600" data-aos-once="true">
          <div class="banner mb-7">
            <img src="../images/about/about-hero.png" class="z-100 w-100" alt="hero images">
          </div>
          <h2 class="w-xl-80 w-100">Work with one of the fastest-growing digital consultancies</h2>
        </div>
      </div>
    </div>
  </div>
</section>