<section class="about pt-xxl-20 pt-lg-15 pt-10 pb-xxl-20 pb-sm-10 pb-8 mb-xxl-20 mb-lg-15 mb-10 separator-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-item">
          <div class="about-item-content">
            <p class="">We develop static sites with different static site generator frameworks. We're professional
              and deliver great products to our consumers.
              We're coming with a new look. Stay with us.
              A slider is great way to display a slideshow featuring images or videos, usually on your homepage.
              We're professional and deliver great products to our consumers. We're coming with a new look. Stay with
              us.</p>
          </div>
          <div class="about-item-banner">
            <img src="../images/about/about-image-one.png" class="w-100" alt="about-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>