<section class="apply-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>Apply this position</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <form class="row gx-4">
          <div class="Information">
            <h3 class=""> Upload your CV & other Documents</h3>
            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
              <input type="file" class="btn-check" name="options" id="option4" autocomplete="off" checked>
              <label class="btn btn-label" for="option4">
                <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.2494 6.62378L4.78845 15.2252C4.48371 15.53 4.3125 15.9433 4.3125 16.3743C4.3125 16.8053 4.48371 17.2186 4.78845 17.5233C5.0932 17.8281 5.50652 17.9993 5.9375 17.9993C6.36848 17.9993 6.7818 17.8281 7.08655 17.5233L17.1725 7.29688C17.4743 6.99509 17.7137 6.63681 17.877 6.2425C18.0403 5.84819 18.1244 5.42558 18.1244 4.99878C18.1244 4.57198 18.0403 4.14937 17.877 3.75506C17.7137 3.36075 17.4743 3.00247 17.1725 2.70068C16.8707 2.39889 16.5124 2.1595 16.1181 1.99617C15.7238 1.83284 15.3012 1.74878 14.8744 1.74878C14.4476 1.74878 14.025 1.83284 13.6307 1.99617C13.2364 2.1595 12.8781 2.39889 12.5763 2.70068L2.49035 12.9271C1.57611 13.8414 1.0625 15.0813 1.0625 16.3743C1.0625 17.6672 1.57611 18.9072 2.49035 19.8214C3.40459 20.7357 4.64457 21.2493 5.9375 21.2493C7.23043 21.2493 8.47041 20.7357 9.38465 19.8214L17.7182 11.4988"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Upload CV</label>
            </div>
          </div>
          <div class="Information">
            <h3>Fill up your personal Information</h3>
            <div class="Information-input">
              <div class="input-box">
                <input type="text" id="Names" class="form-control input-box-input" autocomplete="off" placeholder=" "
                  required="">
                <label for="Names" class="input-box-label">Full Name</label>
              </div>
              <div class="input-box">
                <input type="email" id="email" class="form-control input-box-input" autocomplete="off" placeholder=" "
                  required="">
                <label for="email" class="input-box-label">Email Address</label>
              </div>
              <div class="input-box">
                <input type="text" id="Name1" class="form-control input-box-input" autocomplete="off" placeholder=" "
                  required="">
                <label for="Name1" class="input-box-label">Phone Number</label>
              </div>
              <div class="input-box">
                <input type="text" id="name8" class="form-control input-box-input" autocomplete="off" placeholder=" ">
                <label for="name8" class="input-box-label">Current company</label>
              </div>

            </div>
          </div>
          <div class="Information">
            <h3>Portfolio & Social link</h3>
            <div class="Information-input">
              <div class="input-box">
                <input type="text" id="Name2" class="form-control input-box-input" autocomplete="off" placeholder=" "
                  required="">
                <label for="Name2" class="input-box-label">Dribbble Link</label>
              </div>
              <div class="input-box">
                <input type="text" id="Name3" class="form-control input-box-input" autocomplete="off" placeholder=" "
                  required="">
                <label for="Name3" class="input-box-label">Behance</label>
              </div>
              <div class="input-box">
                <input type="text" id="Name4" class="form-control input-box-input" autocomplete="off" placeholder=" "
                  required="">
                <label for="Name4" class="input-box-label">Github</label>
              </div>
              <div class="input-box">
                <input type="text" id="text5" class="form-control input-box-input" autocomplete="off" placeholder=" ">
                <label for="text5" class="input-box-label">Other Portfolio URL</label>
              </div>
              <div class="input-box">
                <input type="text" id="text6" class="form-control input-box-input" autocomplete="off" placeholder=" ">
                <label for="text6" class="input-box-label">Gitlabs</label>
              </div>
              <div class="input-box">
                <input type="text" id="text7" class="form-control input-box-input" autocomplete="off" placeholder=" ">
                <label for="text7" class="input-box-label">Linked In</label>
              </div>
            </div>
          </div>
          <div class="personal-Information">
            <h3>Fill up your personal Information</h3>
            <div class="col-12">
              <textarea class="form-control mb-6" id="exampleFormControlTextarea1" rows="6" spellcheck="false"
                placeholder="Why shift to us? "></textarea>
            </div>
            <div class="col-12">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" spellcheck="false"
                placeholder=" Add cover letter on anyting else, you share to us."></textarea>
            </div>
          </div>
          <div class=" mt-lg-11 mt-5 d-flex align-items-center justify-content-center justify-content-lg-start">
            <a href="#" class="btn btn-submit btn-lg">
              <span class=" position-relative">Submet
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg></span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</section>