<!-- 
  ########################## 
  Single Page case-study-hero -->

<section class="case-study-hero @@padding position-relative">
  <div class="container">
    <div class="row">
      <div class="@@col mx-auto">
        <div class="text-center" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
          <h2 class="mb-sm-7 mb-5">
            @@inner-page-hero-title
          </h2>
          <div class="">
            <h3>
              @@inner-page-hero-sub-title
            </h3>
            <p>
              @@inner-page-hero-details
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>