<!-- 
  ########################## 
  Contact Form Section -->
<div class="contact-form  pt-xxl-20 pt-10 pb-xxl-25 pb-10 ">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 me-auto">
        <!-- start contact-five-info -->
        <div class="contact-form-Information">
          <div class="mb-4">
            <img src="../images/contact/address.svg" alt="pin">
          </div>
          <h2>Contact Information</h2>
          <!-- start address -->
          <div class="address">
            <h3>Office Address</h3>
            <p>1421 San Pedro St, Los Angeles, CA 90015</p>
            <h3>Phone</h3>
            <a href="tel:(546) 232 - 9872, tel:  (546) 232 - 9873">(546) 232 - 9872 or (546) 232 - 9873</a>
            <h3>Email</h3>
            <a href="mailto:info@staticmania.com">info@staticmania.com</a>
          </div>
          <!-- start address -->
        </div>
        <!-- end contact-five-info -->
      </div>
      <div class="col-xl-7 col-lg-6">
        <form class="row gx-4">
          <div class="Information">
            <h2 class=""> Say Hello!</h2>
            <h3>Fill up your personal Information</h3>
            <div class="Information-input">
              <div class="input-box">
                <input type="text" id="Name" class="form-control input" autocomplete="off" placeholder=" " required="">
                <label for="Name" class="label">Full Name</label>
              </div>
              <div class="input-box">
                <input type="email" id="email" class="form-control input" autocomplete="off" placeholder=" "
                  required="">
                <label for="email" class="label">Email Address</label>
              </div>
              <div class="input-box">
                <input type="text" id="number" class="form-control input" autocomplete="off" placeholder=" "
                  required="">
                <label for="number" class="label">Phone Number</label>
              </div>
              <div class="input-box">
                <input type="text" id="name" class="form-control input" autocomplete="off" placeholder=" ">
                <label for="name" class="label">Current company</label>
              </div>

            </div>
          </div>
          <div class="Information">
            <h3>Services you are interested on</h3>
            <div class="Information-input">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Design">
                <label class="form-check-label" for="Design">
                  Design
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Development">
                <label class="form-check-label" for="Development">
                  Development
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="3DArts">
                <label class="form-check-label" for="3DArts">
                  3D Arts
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="Others">
                <label class="form-check-label" for="Others">
                  Others
                </label>
              </div>
            </div>
          </div>
          <div class="personal-Information text-lg-start text-center">
            <h3>Message</h3>
            <div class="col-12">
              <textarea class="form-control mb-6" id="exampleFormControlTextarea1" rows="6" spellcheck="false"
                placeholder="How we can help you?"></textarea>
            </div>
          </div>
          <div class=" mt-lg-4 mt-0 text-lg-start text-center">
            <a href="#" class="btn btn-submit btn-lg">
              <span class=" position-relative">Send message
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg></span>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>