<!--
  #################
  counter-up Section -->
<section class="counter-up">
  <div class="container">
    <div class="row">
      <!---==== Srart counter-up Section  ---=====-->
      <div class="col-12">
        <div class="counter-up-wrapper d-md-grid">
          <div class="counter-up-content">
            <div class="counter-up-content-item">
              <div class="counter-up-content-icon">
                <img src="../images/counter-up/icon-one.png" alt="icon">
              </div>
              <div class="counter-percent ">
                <span class="counter">10</span><span class="percent">+</span>
              </div>
              <h4>Years Work Expriences</h4>
              <p>Adding sliders to your site is no longer difficult. You don’t have to know coding anymore.</p>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-up-content-icon">
                <img src="../images/counter-up/icon-two.png" alt="icon">
              </div>
              <div class="counter-percent ">
                <span class="counter">85</span>
                <span class="percent">+</span>
              </div>
              <h4>Happy Companys</h4>
              <p>Adding sliders to your site is no longer difficult. You don’t have to know coding anymore.</p>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-up-content-icon">
                <img src="../images/counter-up/icon-three.png" alt="icon">
              </div>
              <div class="counter-percent ">
                <span class="counter">5</span>
              </div>
              <h4>Winning Award</h4>
              <p>Adding sliders to your site is no longer difficult. You don’t have to know coding anymore.</p>
            </div>
          </div>
          <div class="counter-up-content ">
            <div class="counter-up-content-item">
              <div class="counter-up-content-icon">
                <img src="../images/counter-up/icon-four.png" alt="icon">
              </div>
              <div class="counter-percent ">
                <span class="counter">350</span> <span class="percent">+</span>
              </div>
              <h4>Projects Done</h4>
              <p>Adding sliders to your site is no longer difficult. You don’t have to know coding anymore.</p>
            </div>
          </div>
        </div>
      </div>
      <!---==== End counter-up Section  ---=====-->
    </div>
  </div>
</section>