<section class="cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-8 col-xxl-7 mx-auto">
        <div class="cta-content text-center">
          <div class="banner">
            <img src="../images/cta/customer-image.png" alt="banner" class="w-100">
          </div>
          <h2>Reinvent your business with Static Mania</h2>
          <p class="w-xxl-75 w-xl-80 w-100">A slider is great way to display a slideshow featuring images or videos,
            usually on
            your
            homepage.
            Adding sliders to your site is no longer difficult. You don’t have to know coding anymore. Just use a slider
            widget.</p>
          <div class="">
            <a href="contact.html" class="btn btn-white-cta  btn-lg me-sm-3 mb-4 mb-sm-0">
              <span class=" position-relative">
                Say Hello
              </span>
              <span class=" position-relative">
                Say Hello
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>