<!--
  #############
  Service section
  #############
-->
<section class="faq position-relative">

  <div class="container">
    <div class="row">
      <!--Service Sidebar Items-->
      <div class="col-lg-4 me-auto">
        <div id="list-example" class="list-group position-sticky top-20">
          <div class="mb-6">
            <img src="../images/faq/faq-image.png" alt="image">
          </div>
          <h2 class="ls-xl">Some Cummon Questions</h2>
        </div>
      </div>
      <!--End of Service Sidebar Items-->
      <!-- Service Items-->
      <div class="col-lg-7">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="100"
          class="scrollspy-example card-item " tabindex="0">
          <!-- Service Items Content-->
          <div class="card rounded-lg" id="">
            <h3 class="">What is Static Soft</h3>
            <p class="">We're a growing family of 382,081 designers and makers from around the world. Upload any
              file you want and share the Link.
              Yes, all of our widgets are 100% Ads free. Enjoy the uninterrupted working experience
            </p>
          </div>
          <!-- Service Items Content-->
          <div class="card rounded-lg" id="">
            <h3 class="">Take ownership and question the status quo.</h3>
            <p class="">We're a growing family of 382,081 designers and makers from around the world. Upload any
              file you want and share the Link.
              Yes, all of our widgets are 100% Ads free. Enjoy the uninterrupted working experience
            </p>
          </div>
          <!-- Service Items Content-->
          <div class="card rounded-lg" id="">
            <h3 class="">Be brave, curious and experiment – learn from all successes.</h3>
            <p class="">We're a growing family of 382,081 designers and makers from around the world. Upload any
              file you want and share the Link.
              Yes, all of our widgets are 100% Ads free. Enjoy the uninterrupted working experience
            </p>
          </div>
          <!-- Service Items Content-->
          <div class="card rounded-lg" id="">
            <h3 class="">Act in a way that makes all of us proud.</h3>
            <p class="">We're a growing family of 382,081 designers and makers from around the world. Upload any
              file you want and share the Link.
              Yes, all of our widgets are 100% Ads free. Enjoy the uninterrupted working experience
            </p>
          </div>
          <div class="card rounded-lg mb-0" id="">
            <h3 class="">Recognise excellence and engagement.</h3>
            <p class="">We're a growing family of 382,081 designers and makers from around the world. Upload any
              file you want and share the Link.
              Yes, all of our widgets are 100% Ads free. Enjoy the uninterrupted working experience
            </p>
          </div>
          <!-- End of Service Items Content-->
        </div>
      </div>
      <!-- Service Items-->
    </div>
  </div>
</section>
<!--
  #############
  End of Service section
  #############
-->