<!-- 
  ########### 
  hero Area 
  ##########
-->
<section class="hero pt-sm-20 pt-18 separator-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero-content text-center text-lg-start pb-sm-10 pb-lg-0" data-aos="fade-right"
          data-aos-duration="800" data-aos-once="true">
          <h1 class="mb-5">We Design Interface & UX For Humans.</h1>
          <p class="mb-md-10 mb-6  lh-lg w-xxl-80 w-100">We're a growing family of 382,081 designers and makers from
            around the world. Upload any file you want and share the Link.
          </p>
          <div class="d-lg-flex d-block align-items-center justify-content-center text-center pb-lg-20 pb-sm-0">
            <a href="project.html" class="btn btn-primary btn-lg  me-lg-3 mb-5 mb-lg-0">
              <span class=" position-relative">
                Check latest Works
              </span>
              <span class=" position-relative">
                Check latest Works
              </span>
            </a>
            <div
              class="video-iframe d-lg-flex align-items-center  w-80 w-sm-45 w-md-35 w-lg-45 mx-auto ms-lg-0 mb-5 mb-lg-0">
              <div class="video-icon ">
                <a class="popup-vimeo justify-content-center" href="https://vimeo.com/45830194">
                  <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 7L0.499999 13.9282L0.499999 0.0717968L12.5 7Z" fill="#fff" />
                  </svg>
                  <span> Watch showcase</span>
                </a>
              </div>
            </div>
          </div>
          <div class="scroll-down d-flex justify-content-center justify-content-lg-start mb-5 mb-sm-0">
            <a href="#services" class="d-flex align-items-center page-scroll ">
              Scroll down to learn more
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 15L16.5 19.5L21 15" stroke="white" stroke-width="2.5" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M3 6H16.5V19.5" stroke="white" stroke-width="2.5" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero-banner text-center" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
          <img src="../images/hero/hero-image.png" class="z-100" alt="hero images">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
  ########### 
  End hero Area 
  ##########
-->