<!-- 
  ########################## 
  inner-blog-details hero Area -->

<section class="inner-blog-details pt-xxl-27 pt-lg-25 pt-20 pb-lg-18 pb-10 position-relative">
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <div class="text-center" data-aos="fade-down" data-aos-duration="600" data-aos-once="true">
          <h2 class="mb-7">
            How to Build yourself as a Designer. Graphic Design Trends For 2021.
          </h2>

          <div class="blog-post-tag mb-4">
            <ul class="list-inline list-unstyled">
              <li class="list-inline-item">
                <p>Case Study</p>
              </li>
              <li class="list-inline-item">
                <p>Illustration</p>
              </li>
              <li class="list-inline-item">
                <p>UI, UX Projects</p>
              </li>
            </ul>
          </div>
          <div class="blog-post-meta">
            <ul class="list-inline list-unstyled">
              <li class="list-inline-item">
                <p><span> Publish:</span>
                  25 August 2021</p>
              </li>
              <li class="list-inline-item">
                <p><span>Write by:</span>
                  Zakir Hossen</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>