<!--
  ###########
  jobs section
  ###########
-->
<section class="job-post">
  <div class="container">
    <div class="rw">
      <div class="col-lg-12">
        <div class="section-header">
          <h2 class="ls-xl">100 jobs available</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- start isotop-menu -->
        <div class="isotop-menu button-group-home  mb-xl-13 mb-md-10 mb-7">
          <button class="is-checked " data-filter="*">All Position</button>
          <button data-filter=".ct1">Lead</button>
          <button data-filter=".ct2">Designer</button>
          <button data-filter=".ct3">Marketing</button>
          <button data-filter=".ct4">HR</button>
          <button data-filter=".ct5">Others</button>
        </div>
        <!-- end isotop-menu -->
      </div>
    </div>
    <div class="row  grid" id="grid">
      <div class="col-lg-12 mx-auto grid-item  ct2  ct4 ct5 element-item ">
        <!-- start jobs-item -->
        <div class="jobs-post">
          <div class="jobs-title">
            <h3>Senior iOS Developer (EU Candidates)</h3>
            <h4>USD 6k - 10k + VAT as Contractor</h4>
            <p>Bangladesh (remote work)</p>
          </div>
          <div class="apply">
            <div class="">
              <a href="jobs-details.html" class="stretched-link">
                <span class=" position-relative">
                  Apply
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg></span>
              </a>
            </div>
            <p>Last Date: 29 August 2021</p>
          </div>
        </div>
        <!-- end jobs-item -->
      </div>
      <div class="col-lg-12 mx-auto grid-item ct3 ct4  ct1  element-item ">
        <!-- start jobs-item -->
        <div class="jobs-post">
          <div class="jobs-title">
            <h3>Senior UI Designer (relocation to Poland)</h3>
            <h4>USD 6k - 10k + VAT as Contractor</h4>
            <p>Bangladesh (remote work)</p>
          </div>
          <div class="apply">
            <div class="">
              <a href="jobs-details.html" class="stretched-link ">
                <span class=" position-relative">
                  Apply
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg></span>
              </a>
            </div>
            <p>Last Date: 29 August 2021</p>
          </div>
        </div>
        <!-- end jobs-item -->
      </div>
      <div class="col-lg-12 mx-auto grid-item  ct3  ct1 element-item ">
        <!-- start jobs-item -->
        <div class="jobs-post">
          <div class="jobs-title">
            <h3>UX Design Lead</h3>
            <h4>USD 6k - 10k + VAT as Contractor</h4>
            <p>Bangladesh (remote work)</p>
          </div>
          <div class="apply">
            <div class="">
              <a href="jobs-details.html" class="stretched-link ">
                <span class=" position-relative">
                  Apply
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg></span>
              </a>
            </div>
            <p>Last Date: 29 August 2021</p>
          </div>
        </div>
        <!-- end jobs-item -->
      </div>
      <div class="col-lg-12 mx-auto grid-item  ct4 ct3 ct2  element-item ">
        <!-- start jobs-item -->
        <div class="jobs-post">
          <div class="jobs-title">
            <h3>Jr. UI Designer </h3>
            <h4>USD 6k - 10k + VAT as Contractor</h4>
            <p>Bangladesh (remote work)</p>
          </div>
          <div class="apply">
            <div class="">
              <a href="jobs-details.html" class="stretched-link ">
                <span class=" position-relative">
                  Apply
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg></span>
              </a>
            </div>
            <p>Last Date: 29 August 2021</p>
          </div>
        </div>
        <!-- end jobs-item -->
      </div>
      <div class="col-lg-12 mx-auto grid-item ct1 ct2  ct4 element-item ">
        <!-- start jobs-item -->
        <div class="jobs-post">
          <div class="jobs-title">
            <h3>Product Design Engineer</h3>
            <h4>USD 6k - 10k + VAT as Contractor</h4>
            <p>Bangladesh (remote work)</p>
          </div>
          <div class="apply">
            <div class="">
              <a href="jobs-details.html" class="stretched-link ">
                <span class=" position-relative">
                  Apply
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg></span>
              </a>
            </div>
            <p>Last Date: 29 August 2021</p>
          </div>
        </div>
        <!-- end jobs-item -->
      </div>
      <div class="col-lg-12 mx-auto grid-item  ct2  ct5 element-item ">
        <!-- start jobs-item -->
        <div class="jobs-post">
          <div class="jobs-title">
            <h3>Engagement Manager, Professional Services</h3>
            <h4>USD 6k - 10k + VAT as Contractor</h4>
            <p>Bangladesh (remote work)</p>
          </div>
          <div class="apply">
            <div class="">
              <a href="jobs-details.html" class="stretched-link ">
                <span class=" position-relative">
                  Apply
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.75 12H20.25" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="white" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg></span>
              </a>
            </div>
            <p>Last Date: 29 August 2021</p>
          </div>
        </div>
        <!-- end jobs-item -->
      </div>
    </div>
  </div>
</section>