<section class="jobs-details pt-xxl-27 pt-lg-25 pt-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <article class="card jobs-details-content">
          <!------- start jobs-details-content-hero ------------->
          <div class="jobs-details-hero separator-bottom w-xxl-60 w-lg-90 w-100" data-aos="fade-down"
            data-aos-duration="600" data-aos-once="true">
            <h2 class=" title ">Senior iOS Developer (EU Candidates)</h2>
            <h3 class="w-100 mb-4">USD 6k - 10k + VAT as Contractor</h3>
            <p class="w-100 mb-0">Bangladesh (remote work)</p>
          </div>
          <!-------end jobs-details-content-hero ------------->
          <h3>About the team</h3>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don’t look even slightly believable.
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing
            hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
            chunks as necessary, making this the first true generator on the Internet.</p>
          <h3>Job description</h3>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour, or randomised words which don’t look even slightly believable.
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing
            hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined
            chunks as necessary, making this the first true generator on the Internet.
            If you have experience selling to inbound prospects and you enjoy working in a start-up environment, this is
            a rare opportunity to join an early stage, self-funded, customer-centered, and 100% distributed team. You
            will manage a pipeline of inbound leads, whether that’s reactively offering your time and expertise, or
            reaching out to prospects to guide them through their purchasing process.</p>
          <ul class="list-unstyled">
            <h3>You will:</h3>
            <li>
              Manage a pipeline of opportunities at different stages in the sales funnel.</li>
            <li>Understand the needs and challenges of prospective customers by taking a consultative approach to
              selling.</li>
            <li>
              Conduct consultative demos and present webinars for both prospects and customers.</li>
            <li>Assist prospects with the procurement process in particular with their legal and security requirements.
            </li>
            <li> Sliders can bring interactivity to your website. Instead of using standard
              arrows for navigation.</li>
            <li> Work with technical members of the Hotjar team to ensure consistency, clarity, and accuracy in all
              recommendations provided to current and prospective customers.</li>
            <li>Sliders are full of cool effects that help your website stand out from the
              crowd.
            </li>
            <li>Communicate prospective customer needs to product managers and product teams to close the feedback loop.
            </li>
            <li>Help refine the self-service experience for leads that fall outside of the sales touch.</li>
          </ul>
          <ul class="list-unstyled">
            <h3>Requirements</h3>
            <li>
              3+ years of inbound sales experience, ideally SaaS and quota carrying.</li>
            <li>You are technically-minded. You can develop a deep knowledge of how Hotjar works, allowing you to speak
              clearly to customers and communicate their needs to our team.</li>
            <li>
              You are experienced with taking sales calls, diligently following up, and closing deals.</li>
            <li>Enthusiasm to adapt, learn via coaching, and contribute to an evolving sales team’s strategy.
              Experience with Salesforce or an equivalent tool.</li>
            <li> Desire to work in a respectful, transparent, and collaborative work environment, following Hotjar’s
              company values, culture and ways of working.</li>
            <li> Must submit to a background check confidentially processed by our third-party.</li>
          </ul>
          <h3>Compensation Range</h3>
          <p>The compensation range for this role is €50,000 to €85,000 annually. This was established after performing
            market research and is aligned with our approach to compensation. We encourage all candidates to read our
            Recruitment FAQs to further understand our approach to compensation and how we structure our contracts.</p>
        </article>
      </div>
    </div>
  </div>
</section>