<!-- 
  ########################## 
  Single Page hero Area -->

<section class="jobs-details-hero position-relative">
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-12">
        <div class="jobs-details-hero-content" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
          <h2 class="title">Senior iOS Developer (EU Candidates)</h2>
          <h3>USD 6k - 10k + VAT as Contractor</h3>
          <p>Bangladesh (remote work)</p>
        </div>
      </div>
    </div>
  </div>
</section>