<section class="project separator-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>Let’s check <br> our feature works</h2>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="project-item-header-wraper">
          <div class="project-item-header">
            <div class="project-item-header-content">
              <h2>Movie Time OTT platform mobile app</h2>
              <p class="w-xl-80 w-lg-100">We're a growing family of 382,081 designers and makers from around the world.
                Upload any
                file you want
                and share the Link.</p>
              <a href="case-study.html" class="btn btn-dark btn-lg mb-4 mb-sm-0 ">
                <span class=" position-relative">
                  Read Case Study</span>
                <span class=" position-relative">
                  Read Case Study</span>
              </a>
            </div>
            <div class="project-item-header-banner">
              <img src="../images/project/project-1.png" class="" alt="project-image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="project-items">
          <div class="project-item">
            <div class="project-item-content">
              <h2>Fashion</h2>
              <p class="w-xl-80 w-100">A blog platform focus on fashion industry</p>
              <a href="case-study.html" class="btn btn-white btn-lg mb-4 mb-sm-0 ">
                <span class=" position-relative">
                  Read Case Study</span>
                <span class=" position-relative">
                  Read Case Study</span>
              </a>
            </div>
            <div class="project-item-banner">
              <img src="../images/project/project-2.png" class="" alt="project-image">
            </div>
          </div>
          <div class="project-item">
            <div class="project-item-content">
              <h2>Static Soft</h2>
              <p class="w-xl-80 w-100">Instant and real-time notification platform for delivery</p>
              <a href="case-study.html" class="btn btn-white btn-lg mb-4 mb-sm-0 ">
                <span class=" position-relative">
                  Read Case Study</span>
                <span class=" position-relative">
                  Read Case Study</span>
              </a>
            </div>
            <div class="project-item-banner">
              <img src="../images/project/project-3.png" class="" alt="project-image">
            </div>
          </div>
          <div class="project-item">
            <div class="project-item-content">
              <h2>Exclusive Addons</h2>
              <p class="w-xl-80 w-100">Customer-centric warehousing and fulfillment company</p>
              <a href="case-study.html" class="btn btn-white btn-lg mb-4 mb-sm-0 ">
                <span class=" position-relative">
                  Read Case Study</span>
                <span class=" position-relative">
                  Read Case Study</span>
              </a>
            </div>
            <div class="project-item-banner">
              <img src="../images/project/project-4.png" class="" alt="project-image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>