<section class="project-two pt-xxl-16 pt-10 pb-xxl-25 pb-10 separator-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="project-two-item-header-wraper">
          <div class="project-two-item-header">
            <div class="project-two-item-header-content">
              <h2>Movie Time Online movie mobile app</h2>
              <p class="w-xl-80 w-lg-100">We're a growing family of 382,081 designers and makers from around the world.
                Upload any
                file you want
                and share the Link.</p>
              <a href="case-study.html" class="btn btn-dark btn-lg mb-4 mb-sm-0 ">
                <span class=" position-relative">
                  Read Case Study</span>
                <span class=" position-relative">
                  Read Case Study</span>
              </a>
            </div>
            <div class="project-two-item-header-banner">
              <img src="../images/project/project-1.png" class="" alt="project-image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="rw">
      <div class="col-lg-12">
        <div class="section-header">
          <h2>Let’s check <br> some awesome work!</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- start isotop-menu -->
        <div class="isotop-menu button-group-home mb-lg-7 mb-4">
          <button class="is-checked " data-filter="*">All Work</button>
          <button data-filter=".ct1">Web Design</button>
          <button data-filter=".ct2">Development</button>
          <button data-filter=".ct3">Branding</button>
          <button data-filter=".ct4">Mobile App</button>
          <button data-filter=".ct5">3D Deisgn</button>
          <button data-filter=".ct6">Marketing Design</button>
        </div>
        <!-- end isotop-menu -->
      </div>
    </div>
    <div class="row  grid" id="grid">
      <div class="col-lg-6  grid-item  ct2  ct4 ct5 element-item ">
        <!-- start project-two-item -->
        <div class="card project-two-item ms-0">
          <div class="card-banner">
            <img src="../images/project/project-5.png" class="w-100" alt="project-item">
          </div>
          <div class="card-body">
            <h3 class="card-title">Movie Time</h3>
            <p class="card-text">A blog platform focus on fashion industry</p>
            <div class="">
              <a href="case-study.html" class="btn btn-white btn-lg me-sm-3 mb-4 mb-sm-0">
                <span class=" position-relative">
                  Case study
                </span>
                <span class=" position-relative">
                  Case study
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- end project-two-item -->
      </div>
      <div class="col-lg-6  grid-item ct3 ct4  ct1 ct6 element-item ">
        <!-- start project-two-item -->
        <div class="card project-two-item me-0">
          <div class="card-banner">
            <img src="../images/project/project-6.png" class="w-100" alt="project-item">
          </div>
          <div class="card-body">
            <h3 class="card-title">Fashion</h3>
            <p class="card-text">A blog platform focus on fashion industry</p>
            <div class="">
              <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                <span class=" position-relative">
                  Case study
                </span>
                <span class=" position-relative">
                  Case study
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- end project-two-item -->
      </div>
      <div class="col-lg-6  grid-item ct4 ct3  ct1 element-item ">
        <!-- start project-two-item -->
        <div class="card project-two-item ms-0">
          <div class="card-banner">
            <img src="../images/project/project-7.png" class="w-100" alt="project-item">
          </div>
          <div class="card-body">
            <h3 class="card-title">Fashion</h3>
            <p class="card-text">A blog platform focus on fashion industry</p>
            <div class="">
              <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                <span class=" position-relative">
                  Case study
                </span>
                <span class=" position-relative">
                  Case study
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- end project-two-item -->
      </div>
      <div class="col-lg-6  grid-item  ct6 ct4 ct3 ct2  element-item ">
        <!-- start project-two-item -->
        <div class="card project-two-item me-0">
          <div class="card-banner">
            <img src="../images/project/project-8.png" class="w-100" alt="project-item">
          </div>
          <div class="card-body">
            <h3 class="card-title">Fashion</h3>
            <p class="card-text">A blog platform focus on fashion industry</p>
            <div class="">
              <a href="case-study.html" class="btn btn-white btn-lg me-sm-3 mb-4 mb-sm-0">
                <span class=" position-relative">
                  Case study
                </span>
                <span class=" position-relative">
                  Case study
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- end project-two-item -->
      </div>
      <div class="col-lg-6  grid-item ct1 ct2  ct4 ct5 element-item ">
        <!-- start project-two-item -->
        <div class="card project-two-item ms-0">
          <div class="card-banner">
            <img src="../images/project/project-9.png" class="w-100" alt="project-item">
          </div>
          <div class="card-body">
            <h3 class="card-title">Fashion</h3>
            <p class="card-text">A blog platform focus on fashion industry</p>
            <div class="">
              <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                <span class=" position-relative">
                  Case study
                </span>
                <span class=" position-relative">
                  Case study
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- end project-two-item -->
      </div>
      <div class="col-lg-6  grid-item  ct2 ct6  ct4  element-item ">
        <!-- start project-two-item -->
        <div class="card project-two-item me-0">
          <div class="card-banner">
            <img src="../images/project/project-10.png" class="w-100" alt="project-item">
          </div>
          <div class="card-body">
            <h3 class="card-title">Fashion</h3>
            <p class="card-text">A blog platform focus on fashion industry</p>
            <div class="">
              <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                <span class=" position-relative">
                  Case study
                </span>
                <span class=" position-relative">
                  Case study
                </span>
              </a>
            </div>
          </div>
        </div>
        <!-- end project-two-item -->
      </div>
    </div>
  </div>
</section>