<section class="project-three">
  <div class="container">
    <div class="row">
      <div class="col-lg12">
        <div class="section-header">
          <h2>Let’s check <br> some awesome work!</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card project-three-item">
          <div class="card-banner">
            <img src="../images/project/project-11.png" class="w-100" alt="cadr-image">
          </div>
          <div class="logo">
            <img src="../images/project/project-item-logo.svg" alt="project-item-logo">
          </div>
          <div class="card-body">
            <h3 class="card-title">The Approach</h3>
            <p class="card-text">Strictly found it’s voice to satisfy our goal of creating a brand that could adapt
              across many use cases, we took the base form of their new logo and used it as an artboard. As long as the
              structural outline of the mark stayed consistent their brand was allowed to flex and adapt to specific
              uses. And by introducing these illustrative elements to the logomark, To satisfy our goal of creating a
              brand that could adapt across many use cases.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card project-three-item">
          <div class="card-banner">
            <img src="../images/project/project-12.png" class="w-100" alt="cadr-image">
          </div>
          <div class="logo">
            <img src="../images/project/project-item-logo-two.svg" alt="project-item-logo">
          </div>
          <div class="card-body">
            <h3 class="card-title">The Result</h3>
            <p class="card-text">Strictly found it’s voice to satisfy our goal of creating a brand that could adapt
              across many use cases, we took the base form of their new logo and used it as an artboard. As long as the
              structural outline of the mark stayed consistent their brand was allowed to flex and adapt to specific
              uses. And by introducing.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>