<section class="services-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="scrol-nav" class="navbar navbar-light services-two-nav">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#Webdesign">Web Design</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Development">Development</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Mobileapp">Mobile App</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Design">3D Deisgn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Marketingdesign">Marketing Design</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#branding">Branding</a>
            </li>
          </ul>
        </div>
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example"
          tabindex="0">
          <!----#####################--- >
          start services-two-items- Web Design
          </-----######################----->
          <div class="webdesign item separator-bottom" id="Webdesign">
            <!----- services-two-item description ------->
            <div class="services-two-item mb-lg-20 mb-10">
              <h2 class="title">Web Design</h2>
              <div class="service-item">
                <div class="service-item-banner">
                  <img src="../images/service/services-item-five.png" class="w-100" alt="services-item">
                </div>
                <div class="service-item-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered
                    alteration in some form, by injected humour, or randomised words which don’t look even
                    slightly
                    believable.</p>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          UI/UX design
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Design audit
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Prototyping
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          Testing
                        </button>
                      </h2>
                      <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                          Development
                        </button>
                      </h2>
                      <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--###### Read some case study ######-->
            <div class="services-two-item">
              <h3 class="sub-title">Read some case study</h3>
              <div class="service-item">
                <div class="card">
                  <div class="card-banner">
                    <img src="../images/service/services-item-six.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Fashion</h3>
                    <p class="card-text">A blog platform focus on fashion industry</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-banner-two">
                    <img src="../images/service/services-item-siven.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Growth us</h3>
                    <p class="card-text">Business Solution Agency</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----###############################--- >
              start services-two-items Development
          </-----##############################----->
          <div class="Development item separator-bottom" id="Development">
            <!----- services-two-item description ------->
            <div class="services-two-item mb-lg-20 mb-10">
              <h2 class="title">Development</h2>
              <div class="service-item">
                <div class="service-item-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered
                    alteration in some form, by injected humour, or randomised words which don’t look even
                    slightly
                    believable.</p>
                  <div class="accordion" id="accordionExample-two">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Product Prototyping
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample-two">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Minimum Viable Product
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample-two">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Prototyping
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample-two">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          Testing
                        </button>
                      </h2>
                      <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                        data-bs-parent="#accordionExample-two">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                          Product Scaling
                        </button>
                      </h2>
                      <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                        data-bs-parent="#accordionExample-two">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available, but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="service-item-banner">
                  <img src="../images/service/services-item-eight.png" class="w-100" alt="services-item">
                </div>
              </div>
            </div>
            <!------- Read some case study --------->
            <div class="services-two-item">
              <h3 class="sub-title">Read some case study</h3>
              <div class="service-item">
                <div class="card">
                  <div class="card-banner-three">
                    <img src="../images/service/services-item-nine.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Agency Web Design</h3>
                    <p class="card-text">A blog platform focus on fashion industry</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-banner-four">
                    <img src="../images/service/services-item-tein.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Static Mania New Look</h3>
                    <p class="card-text">A blog platform focus on fashion industry</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----###############################--- >
              start services-two-items Mobile App
          </-----##############################----->
          <div class="Mobileapp item separator-bottom" id="Mobileapp">
            <!----- services-two-item description ------->
            <div class="services-two-item mb-lg-20 mb-10">
              <h2 class="title">Mobile App</h2>
              <div class="service-item">
                <div class="service-item-banner">
                  <img src="../images/service/services-item-eliven.png" class="w-100" alt="services-item">
                </div>
                <div class="service-item-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered
                    alteration in some form, by injected humour, or randomised words which don’t look even
                    slightly
                    believable.</p>
                  <div class="accordion" id="accordionExample-three">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Research
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample-three">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Wireframe
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample-three">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          UI Design
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample-three">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          Prototyping
                        </button>
                      </h2>
                      <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                        data-bs-parent="#accordionExample-three">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                          Testing
                        </button>
                      </h2>
                      <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                        data-bs-parent="#accordionExample-three">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!------- Read some case study --------->
            <div class="services-two-item">
              <h3 class="sub-title">Read some case study</h3>
              <div class="service-item">
                <div class="card">
                  <div class="card-banner">
                    <img src="../images/service/services-item-twlove.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Movie Time</h3>
                    <p class="card-text">A blog platform focus on fashion industry</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-banner-two">
                    <img src="../images/service/services-item-tharty.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Ebook Shoping</h3>
                    <p class="card-text">Business Solution Agency</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----#####################--- >
          start services-two-items 3D Design
          </-----######################----->
          <div class="Design item separator-bottom" id="Design">
            <!----- services-two-item description ------->
            <div class="services-two-item mb-lg-20 mb-10">
              <h2 class="title">3D Design</h2>
              <div class="service-item">
                <div class="service-item-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered
                    alteration in some form, by injected humour, or randomised words which don’t look even
                    slightly
                    believable.</p>
                  <div class="accordion" id="accordionExample-four">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          UI/UX design
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample-four">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Design audit
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample-four">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          Prototyping
                        </button>
                      </h2>
                      <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                        data-bs-parent="#accordionExample-four">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                          Testing
                        </button>
                      </h2>
                      <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                        data-bs-parent="#accordionExample-four">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                          Development
                        </button>
                      </h2>
                      <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample-four">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="service-item-banner">
                  <img src="../images/service/services-item-forty.png" class="w-100" alt="services-item">
                </div>
              </div>
            </div>
            <!------- Read some case study --------->
            <div class="services-two-item">
              <h3 class="sub-title">Read some case study</h3>
              <div class="service-item">
                <div class="card">
                  <div class="card-banner-three">
                    <img src="../images/service/services-item-fifty.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Exclusive Addons</h3>
                    <p class="card-text">A blog platform focus on fashion industry</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-banner-four">
                    <img src="../images/service/services-item-sixten.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Zak Motion Intro</h3>
                    <p class="card-text">A blog platform focus on fashion industry</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----#####################--- >
          start services-two-items Marketing Design
          </-----######################----->
          <div class="Marketingdesign item separator-bottom" id="Marketingdesign">
            <!----- services-two-item description ------->
            <div class="services-two-item mb-lg-20 mb-10">
              <h2 class="title">Marketing Design</h2>
              <div class="service-item">
                <div class="service-item-banner">
                  <img src="../images/service/services-item-siventen.png" class="w-100" alt="services-item">
                </div>
                <div class="service-item-content">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                    suffered
                    alteration in some form, by injected humour, or randomised words which don’t look even
                    slightly
                    believable.</p>
                  <div class="accordion" id="accordionExample-five">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          UI/UX design
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample-five">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Design audit
                        </button>
                      </h2>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample-five">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Prototyping
                        </button>
                      </h2>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample-five">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                          Testing
                        </button>
                      </h2>
                      <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                        data-bs-parent="#accordionExample-five">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingfive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                          Development
                        </button>
                      </h2>
                      <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                        data-bs-parent="#accordionExample-five">
                        <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                          available,
                          but
                          the majority have suffered alteration.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!------- Read some case study --------->
            <div class="services-two-item">
              <h3 class="sub-title">Read some case study</h3>
              <div class="service-item ">
                <div class="card">
                  <div class="card-banner">
                    <img src="../images/service/services-item-eighten.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Exclusive Addons</h3>
                    <p class="card-text">A blog platform focus on fashion industry</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-banner-two">
                    <img src="../images/service/services-item-nientin.png" class="w-100" alt="services-item">
                  </div>
                  <div class="card-body">
                    <h3 class="card-title">Google Review Widget</h3>
                    <p class="card-text">Business Solution Agency</p>
                    <div class="">
                      <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                        <span class=" position-relative">
                          Case study
                        </span>
                        <span class=" position-relative">
                          Case study
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!----#####################--- >
          start services-two-items Branding
          </-----######################----->
        </div>
        <div class="branding item separator-bottom mb-0" id="branding">
          <!----- services-two-item description ------->
          <div class="services-two-item mb-lg-20 mb-10">
            <h2 class="title">Branding</h2>
            <div class="service-item">
              <div class="service-item-content">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                  suffered
                  alteration in some form, by injected humour, or randomised words which don’t look even
                  slightly
                  believable.</p>
                <div class="accordion" id="accordionExample-sixe">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Brand identity
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample-sixe">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                        available,
                        but
                        the majority have suffered alteration.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Print Design
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample-sixe">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                        available,
                        but
                        the majority have suffered alteration.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Branding styleguide
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample-sixe">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                        available,
                        but
                        the majority have suffered alteration.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingfour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        Animation
                      </button>
                    </h2>
                    <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour"
                      data-bs-parent="#accordionExample-sixe">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                        available,
                        but
                        the majority have suffered alteration.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingfive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
                        Marketing materials
                      </button>
                    </h2>
                    <div id="collapsefive" class="accordion-collapse collapse" aria-labelledby="headingfive"
                      data-bs-parent="#accordionExample-sixe">
                      <div class="accordion-body">There are many variations of passages of Lorem Ipsum
                        available,
                        but
                        the majority have suffered alteration.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="service-item-banner">
                <img src="../images/service/services-item-twonty.png" class="w-100" alt="services-item">
              </div>
            </div>
          </div>
          <!------- Read some case study --------->
          <div class="services-two-item mb-xxl-7">
            <h3 class="sub-title">Read some case study</h3>
            <div class="service-item">
              <div class="card">
                <div class="card-banner-three">
                  <img src="../images/service/services-item-twonty-one.png" class="w-100" alt="services-item">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Static Soft Marketing Elements</h3>
                  <p class="card-text">A blog platform focus on fashion industry</p>
                  <div class="">
                    <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                      <span class=" position-relative">
                        Case study
                      </span>
                      <span class=" position-relative">
                        Case study
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-banner-four">
                  <img src="../images/service/services-item-twonty-two.png" class="w-100" alt="services-item">
                </div>
                <div class="card-body">
                  <h3 class="card-title">Fashion</h3>
                  <p class="card-text">A blog platform focus on fashion industry</p>
                  <div class="">
                    <a href="case-study.html" class="btn btn-white  btn-lg me-sm-3 mb-4 mb-sm-0">
                      <span class=" position-relative">
                        Case study
                      </span>
                      <span class=" position-relative">
                        Case study
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>