<!--
  #################
  Team Section -->

<div class="team separator-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="section-header">
          <h2 class="">
            People are the key to success!
          </h2>
          <h3>Meet our Leader</h3>
        </div>
      </div>
    </div>
    <div class="row gy-6">
      <div class="col-lg-4 col-md-4">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-1.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Dianne Russell</h3>
            <p>Founder & CEO</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-2.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Cody Fisher</h3>
            <p>Head of Designer</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="team-member">
          <div class="team-member-thumb">
            <img src="images/team/team-member-3.png" alt="team-member-1 png">
          </div>
          <div class="team-member-details">
            <h3>Ralph Edwards</h3>
            <p>Lead Developer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="teams-member-wrapper">
          <h3 class="text-center mb-8">Meet the talented people</h3>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-4.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Cody Fisher</h3>
              <p>Product Designer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-5.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Savannah Nguyen</h3>
              <p>Product Designer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-6.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Annette Black</h3>
              <p>Product Designer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-7.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Cameron Williamson</h3>
              <p>UX Designer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-8.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Leslie Alexander</h3>
              <p>Visual Designer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-9.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Ralph Edwards</h3>
              <p>Sr. Developer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-10.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Floyd Miles</h3>
              <p>Content Writer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-11.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Jacob Jones</h3>
              <p>Sr. Developer</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-12.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Theresa Webb</h3>
              <p>Jr. UI Desiger</p>
            </div>
          </div>
          <div class="teams-member">
            <div class="teams-member-thumb">
              <img src="images/team/team-member-13.png" alt="team-member-1 png">
            </div>
            <div class="teams-member-details">
              <h3>Eleanor Pena</h3>
              <p>Jr. UI Desiger</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="teams-contact text-center mt-xxl-16 mt-lg-8">
          <div class="mb-6">
            <img src="../images/team/team-member-join.png" alt="image">
          </div>
          <h2 class="mb-7 ls-xl">We hire great people and we help them grow</h2>
          <div class="">
            <a href="#" class="btn btn-primary btn-lg mb-4 mb-sm-0 ">
              <span class=" position-relative">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.5 15C14.5711 15 16.25 13.3211 16.25 11.25C16.25 9.17893 14.5711 7.5 12.5 7.5C10.4289 7.5 8.75 9.17893 8.75 11.25C8.75 13.3211 10.4289 15 12.5 15Z"
                    stroke="white" stroke-width="2" stroke-miterlimit="10" />
                  <path
                    d="M6.4812 18.6913C7.04615 17.5806 7.90744 16.6478 8.96973 15.9963C10.032 15.3448 11.2539 15 12.5 15C13.7462 15 14.968 15.3448 16.0303 15.9963C17.0926 16.6478 17.9539 17.5806 18.5189 18.6913"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M17 5.25H21.5" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M19.25 3V7.5" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M21.3887 10.5804C21.6866 12.456 21.383 14.3776 20.5214 16.07C19.6598 17.7623 18.2845 19.1384 16.5927 20.0009C14.9008 20.8635 12.9793 21.1681 11.1036 20.8713C9.22791 20.5744 7.49439 19.6912 6.15157 18.3484C4.80874 17.0056 3.92559 15.2721 3.62873 13.3964C3.33187 11.5207 3.63654 9.59917 4.49907 7.90731C5.3616 6.21546 6.73768 4.84015 8.43002 3.97858C10.1224 3.11701 12.0441 2.81342 13.9196 3.11134"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Join our team</span>
              <span class=" position-relative">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.5 15C14.5711 15 16.25 13.3211 16.25 11.25C16.25 9.17893 14.5711 7.5 12.5 7.5C10.4289 7.5 8.75 9.17893 8.75 11.25C8.75 13.3211 10.4289 15 12.5 15Z"
                    stroke="white" stroke-width="2" stroke-miterlimit="10" />
                  <path
                    d="M6.4812 18.6913C7.04615 17.5806 7.90744 16.6478 8.96973 15.9963C10.032 15.3448 11.2539 15 12.5 15C13.7462 15 14.968 15.3448 16.0303 15.9963C17.0926 16.6478 17.9539 17.5806 18.5189 18.6913"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M17 5.25H21.5" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M19.25 3V7.5" stroke="white" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M21.3887 10.5804C21.6866 12.456 21.383 14.3776 20.5214 16.07C19.6598 17.7623 18.2845 19.1384 16.5927 20.0009C14.9008 20.8635 12.9793 21.1681 11.1036 20.8713C9.22791 20.5744 7.49439 19.6912 6.15157 18.3484C4.80874 17.0056 3.92559 15.2721 3.62873 13.3964C3.33187 11.5207 3.63654 9.59917 4.49907 7.90731C5.3616 6.21546 6.73768 4.84015 8.43002 3.97858C10.1224 3.11701 12.0441 2.81342 13.9196 3.11134"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                Join our team</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>