<!--
  ###########
  Testimonial Section
  ###########
-->
<section class="testimonials @@padding">
  <div class="container">
    <!-- section title -->
    <div class="row">
      <div class="col-xl-10 col-xxl-8 mx-auto">
        <div class="section-header">
          <h2>we help drive excellent customer experience and achieve business goals of our partners.</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!-- start off testimonials slider -->
        <div class="slider-wrapper">
          <div class="testimonials-slider position-relative">
            <!-- start off testimonials slider item  one-->
            <div class="card item ">
              <div class="card-body ">
                <div class="icon ">
                  <div class="logo"> <img src="../images/testimonial/drop-box.svg" alt="icon"></div>
                  <div class="content">
                    <h6>Jenny Wilson</h6>
                    <p>Head of Dev. Team</p>
                  </div>
                </div>
                <p>Jack is really good designer. I’m happy to work with him. dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <!-- start off testimonials slider item  two-->
            <div class="card item ">
              <div class="card-body ">
                <div class="icon ">
                  <div class="logo"> <img src="../images/testimonial/adob.svg" alt="icon"></div>

                  <div class="content">
                    <h6>Jenny Wilson</h6>
                    <p>Head of Dev. Team</p>
                  </div>
                </div>
                <p>Jack is really good designer. I’m happy to work with him. dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <!-- start off testimonials slider item  three-->
            <div class="card item ">
              <div class="card-body ">
                <div class="icon ">
                  <div class="logo"> <img src="../images/testimonial/Google.svg" alt="icon"></div>

                  <div class="content">
                    <h6>Jenny Wilson</h6>
                    <p>Head of Dev. Team</p>
                  </div>
                </div>
                <p>Jack is really good designer. I’m happy to work with him. dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <!-- start off testimonials slider item  four-->
            <div class="card item ">
              <div class="card-body ">
                <div class="icon ">
                  <div class="logo"> <img src="../images/testimonial/Slack.svg" alt="icon"></div>

                  <div class="content">
                    <h6>Jenny Wilson</h6>
                    <p>Head of Dev. Team</p>
                  </div>
                </div>
                <p>Jack is really good designer. I’m happy to work with him. dolor sit amet, consectetur adipiscing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end off testimonials slider -->
</section>