<section class="work @@padding @@margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="section-header">
          <h2>We believe in 3 thinks for relationships with our clients</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card work-item ps-lg-0">
          <div class="card-icon work-item-icon">
            <img src="../images/work/work-item-one.svg" alt="work-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Understand Clients requirements</h4>
            <p class="card-text">SAdding sliders to your site is no longer difficult. You don’t have to know coding
              anymore. Just use a slider widget and it will automatically.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card work-item border-right">
          <div class="card-icon work-item-icon">
            <img src="../images/work/work-item-two.svg" alt="work-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">No compromise with Quality</h4>
            <p class="card-text">So, the Elementor slider would be a great tool to work with when building a WordPress
              site.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card work-item">
          <div class="card-icon work-item-icon">
            <img src="../images/work/work-item-three.svg" alt="work-icon">
          </div>
          <div class="card-body">
            <h4 class="card-title">Delivery on Dateline</h4>
            <p class="card-text">A slider is great way to display a slideshow featuring images or videos, usually on
              your homepage.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>