.company {
  position: relative;
  background: transparent;
  .section-header {
    padding: $spacer * 5.5 0 $spacer * 6;
    @include media-breakpoint-down(sm) {
      padding: $spacer * 3 0 $spacer * 4;
    }
  }
  &-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    .item {
      text-align: center;
      display: inline-block;
      width: 200px;
      margin-bottom: $margin * 5;
      @include media-breakpoint-down(xxl) {
        width: 180px;
      }
      @include media-breakpoint-down(lg) {
        width: 165px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: $margin * 3;
      }
      .logo {
        svg {
          path {
            fill: $company-fill-color;
          }
        }
      }
    }
  }
}
