/********** 
  19. Testimonial Section
**********/
.testimonials {
  overflow: hidden;
  .section-header {
    position: relative;
    padding: $padding * 9.5 0 $padding * 3;
    text-align: center;
    @include media-breakpoint-down(xl) {
      padding: $padding * 5 0 $padding * 3;
    }
    @include media-breakpoint-down(md) {
      padding: $padding * 3 0 $padding * 2;
    }
  }
  &-slider {
    padding-bottom: $padding / 2;
    .card {
      position: relative;
      box-shadow: none;
      text-align: left;
      padding: $spacer * 3.8 $spacer * 3.8;
      margin: $spacer * 1.6 $spacer * 1.6 $spacer * 4;
      background: $testimonials-bg;
      border-radius: 40px;
      @include media-breakpoint-down(xxl) {
        padding: $spacer * 2 $spacer * 2;
      }
      @include media-breakpoint-down(lg) {
        padding: $spacer * 1 $spacer * 1;
      }
      @include media-breakpoint-down(md) {
        padding: $spacer * 2 $spacer * 2;
      }
      @include media-breakpoint-down(sm) {
        margin: $spacer * 1.6 $spacer * 1.6 $spacer * 2;
      }
      &.slick-current {
        // box-shadow: 0px 40px 60px rgba(140, 140, 140, 0.06);
      }

      &-body {
        padding: 0;
        .icon {
          display: flex;
          align-items: center;
          margin-bottom: $spacer * 3.2;
          @include media-breakpoint-down(md) {
            justify-content: center;
          }
          .logo {
            background: $testimonials-bg-dark;
            border-radius: $spacer;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: $spacer * 1.9;
            @include media-breakpoint-down(lg) {
              width: 80px;
              height: 80px;
              margin-right: $spacer * 1;
            }
            @include media-breakpoint-down(sm) {
              width: 60px;
              height: 60px;
              img {
                width: 50px;
              }
            }
          }
          .content {
            h6 {
              font-size: $font-size-base * 1.9;
              margin-bottom: 0;
              letter-spacing: normal;
              color: $testimonials-heading-color;
              @include media-breakpoint-down(lg) {
                font-size: $font-size-base * 1.5;
              }
              @include media-breakpoint-down(sm) {
                font-size: $font-size-base * 1.25;
              }
            }
            p {
              font-size: $font-size-base * 1.25;
              margin-bottom: 0;
              color: $testimonials-paragraph-color;
              font-weight: $font-weight-medium;
              letter-spacing: -0.3px;
              @include media-breakpoint-down(lg) {
                font-size: $font-size-base * 1.1;
              }
              @include media-breakpoint-down(sm) {
                font-size: $font-size-base;
              }
            }
          }
        }
        p {
          font-weight: $font-weight-bold;
          font-size: $font-size-base * 1.9;
          line-height: 43px;
          color: $testimonials-paragraph-color;
          margin-bottom: $spacer * 0;
          letter-spacing: -0.3px;
          @include media-breakpoint-down(lg) {
            font-size: $font-size-base * 1.25;
            line-height: 35px;
          }
        }
      }
    }
    .slick-list {
      overflow: visible;
    }

    // start slick-arrow //
    .slick-prev {
      left: 44%;
      @include media-breakpoint-down(xl) {
        left: 41%;
      }
      @include media-breakpoint-down(lg) {
        left: 41%;
      }
      @include media-breakpoint-down(md) {
        left: 38%;
      }
      @include media-breakpoint-down(sm) {
        left: 30%;
      }
    }
    .slick-next {
      right: 44%;
      @include media-breakpoint-down(lg) {
        right: 40%;
      }
      @include media-breakpoint-down(md) {
        right: 35%;
      }
      @include media-breakpoint-down(sm) {
        right: 30%;
      }

      &:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 1px;
        background: $testimonials-after-color;
        top: 55%;
        left: -80%;
        transform: rotate(90deg);
        @include media-breakpoint-down(xxl) {
          left: -60%;
        }
      }
    }
    .slick-prev,
    .slick-next {
      width: 50px;
      height: 50px;
      padding: 0;
      top: 110%;
      z-index: 1;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      @include media-breakpoint-down(md) {
        top: 100%;
      }
      span {
        position: absolute;
        top: 20%;
        left: 17%;
        svg {
          path {
            stroke: $testimonials-fill-color;
          }
        }
      }
      svg {
        position: absolute;
        top: 0;
        left: 0;
        circle {
          stroke-dasharray: 170;
          stroke-dashoffset: 170;
          stroke: $testimonials-circle-color;
        }
      }
      &:hover {
        svg {
          circle {
            animation: dash 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
          }
        }
      }
    }
    .slick-next:before,
    .slick-prev:before {
      display: none;
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 170;
  }
  to {
    stroke-dashoffset: 0;
  }
}
